<header class="bg-gradient-to-r from-blue-500 to-blue-700 p-6 text-white shadow-lg">
  <div class="text-center">
    <h1 class="text-3xl font-bold">Quark Shopping</h1>
    <p class="mt-2 text-lg">Your one-stop shop for everything!</p>
  </div>

  <div class="mt-4">
    <hr class="border-t border-blue-300 opacity-50">
  </div>

  <nav class="mt-4">
    <ul class="flex justify-center space-x-6 text-white font-semibold">
        <li>
            <a class="hover:text-yellow-300">Galeria</a>
        </li>
        <li>
            <a class="hover:text-yellow-300">Categoria</a>
        </li>
        <li>
            <a class="hover:text-yellow-300">Produto</a>
        </li>
        <li>
            <a class="hover:text-yellow-300">Sair</a>
        </li>
    </ul>

  </nav>

</header>

<router-outlet></router-outlet>

<footer class="bg-gray-200 text-center p-4 mt-6">
    <p>&copy; 2025 Quark Shopping. All rights reserved.</p>
</footer>
